h2{
  font-family: 'Roboto Mono', monospace;
}
.container{
  width: 1000px;
  height: 800px;
}

#one, #two, #three, #four, #five, #six{
  width: 200px;
  height: 280px;
  margin: 30px;
  background-repeat: no-repeat;
  background-image: url("../img/juntas1.png");

}
#one{
  background-position: -0px -300px ;
  float: left;
  padding-left;
}

#two{
  background-position: -200px -0px;
  float: left;
}
#three{
  background-position: -200px -300px;
  float: left;
}
#four{
  background-position: -400px -0px;
  float: left;
}
#five{
  background-position: -400px -300px;
  float: left;
}
#six{
  background-position: -0px -0px;
  float: left;
}

.one1 , .two2, .three3, .four4{
  color: #000;
  font-family: 'Roboto Mono', monospace;
  position: relative;
  top: 230px;
  left: 50px;
  display: block;
}
.five5 {
  color: #000;
  font-family: 'Roboto Mono', monospace;
  position: relative;
  top: 230px;
  left: 10px;
}
.six6{
  color: #000;
  font-family: 'Roboto Mono', monospace;
  position: relative;
  top: 230px;
  left: 40px;
}
a{
  text-decoration: none;
  color: #fff;
}
